@import "../../styles/includes/variables";

.saltApp nav {
    margin: 30px 0 -2px;
    padding-left: 20px;

    button {
      font-weight: 700;
      color: $color-text;
      background-color: #fff;
      border: none;
      padding: 5px 20px;
      cursor: pointer;

      &.on {
        color: $color-main;
        border-bottom: 3px solid $color-main;
      }
    }
  }
