$color-bg: #fff;
$color-bg-main: #f0f0f0;

$color-title: #7b1fa2;
$color-main: #683c9d;
$color-text: #7b7b7b;
$color-border: #f4f4f4;

$color-pii: #12296d;

$color-type-bg: #cee5ec;
$color-type-text: #419bb7;
$color-type-border: #c0dce4;
