$color-bg: #fff;
$color-title: #7b1fa2;
$color-text: #7b7b7b;
$color-bold: #525252;
$color-method: #ba69c8;
$color-border: #f4f4f4;

$color-pii: #12296d;

$color-tab-bg: #f0f0f0;
$color-tab-button: #68686a;
$color-tab-button-on: #683c9d;

$color-table-title: #ac49bd;

$color-type-bg: #cee5ec;
$color-type-text: #419bb7;
$color-type-border: #c0dce4;
