@import "./includes/variables";
@import "./includes/reset";

.saltApp {
  margin: 20px 10%;
  font-size: 11px;

  header {
    color: $color-title;
    font-weight: 700;
    border-bottom: 1px solid $color-border;
    padding: 20px;

    h1 {
      font-size: 18px;
    }

    .heading {
      text-transform: uppercase;
      color: $color-method;
      font-weight: 600;
      font-size: 14px;
    }

    p {
      font-size: 11px;
      padding-top: 10px;
    }
  }

  .tabs {
    margin: 30px 0 -2px;
  }

  .tab-button {
    color: $color-tab-button;
    border: none;
    background-color: #fff;
    font-weight: 700;
    padding: 5px 20px;
    cursor: pointer;

    &:first-child {
      margin-left:20px
    }
    &.on {
      color: $color-tab-button-on;
      border-bottom: 3px solid $color-tab-button-on;
    }
  }
  
  .content-wrap {
    background-color: $color-tab-bg;
    box-shadow: inset 0 5px 15px -10px rgb(221, 220, 220);
    padding: 20px;
  }

  .search {
    background-color: #fff;
    margin-bottom: 40px;
    display: grid;
    box-shadow: 0 3px 7px 0 rgb(221, 220, 220);
    grid-template-columns: 20px 2fr 120px 200px;
    position: relative;
    
    .icon {
      margin: 10px 10px 0 10px;
    }

    .search-input {
      border: 0;
      margin: 10px;
      font-size: 11px;

      &:focus,
      &:focus-visible {
        border: 0;
        outline: none;
      }

      &::placeholder {
        color: lightgray;
      }
    }

    input[type='checkbox'] {
      margin: 10px 10px 0 10px;
      position: relative;
      cursor: pointer;

      &:after {
        content: 'Show PII only';
        position: absolute;
        left: 18px;
        width: 90px;
        display: block;
      }
    }

    .apply {
      background-color: $color-tab-button-on;
      border: none;
      color: #fff;
      width: 100%;
      height: 100%;
      font-size: 12px;
      cursor: pointer;

      &:hover {
        background-color: lighten($color-tab-button-on, 5%);
      }
    }

    .reset {
      color: $color-table-title;
      position:absolute;
      right: 0;
      bottom: -20px;
      cursor: pointer;
      border: none;
      background-color: transparent;
      user-select: none;
    }
  }

  .group-table{
    border: 1px solid $color-border;
  }

  .group {
    display: grid;
    background-color: #fff;

    &.empty {
      svg, h4 {
        cursor:default;
        color:lightgray;
      }
    }

    svg {
      color: $color-title;
    }

    h4 {
      margin: 2px 0;
      padding: 15px;
      cursor: pointer;
      user-select: none;
      z-index: 1;
      font-size: 11px;
      text-transform: capitalize;
  
      

      svg {
        margin-right: 5px;
      }
    }

    .group-content {
      padding: 0 20px;
      height: 0;
      opacity: 0;
      transition: 0.1s;
      z-index: 0;
      display: grid;
      grid-row-gap: 20px;
    }
    
    .group-content.active {
      opacity: 1;
      height: auto;
      padding: 20px;
    }
  }

  .group-item-row {
    display: grid;
    padding: 10px;
    box-shadow: 0 3px 7px 0 rgb(221, 220, 220);
    grid-template-columns: 2fr 70px 70px 1fr;
    grid-template-rows: 18px;
    column-gap: 30px;
    row-gap: 10px;
    align-self: center;

    &.header {
      background-color: #fff;
      box-shadow: none;
      border-bottom: 1px solid $color-border;
      
      span {
        color: $color-table-title;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 700;
      }
    }
    
    button {
      border: 1px solid $color-pii;
      text-transform: uppercase;
      font-size: 11px;
      width: 70px;
      cursor: pointer;

      &.pii {
        color: $color-pii;

        &.on {
          color: #fff;
          background-color: $color-pii;
        }
      }

      &.masked {
        color: $color-title;
        border-color: $color-title;

        &.on {
          color: #fff;
          background-color: $color-title;
        }
      }
    }

    .item-type {
      border: 1px solid $color-type-border;
      color: $color-type-text;
      background-color: $color-type-bg;
      text-transform: uppercase;
      padding: 5px 10px;
      text-align: center;
      line-height: 7px;
      width: 70px;
      user-select: none;
    }
  }

  

}


